@charset "UTF-8";

/* ----------共通部分---------- */
html {
  font-size: 100%;
}

body {
  font-family: "Yu Gothic Medium", "游ゴシック Medium", YuGothic, "游ゴシック体", "ヒラギノ角ゴ Pro W3", sans-serif;
  line-height: 1.7;
  color: #000;
}

a {
  text-decoration: none;
}

a:hover {
  opacity: 0.5;
  transition: all 0.5s;
}

img {
  max-width: 100%;
}


/* ---------header---------- */
.wrapper {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}

.page-header {
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 310px;
  margin-top: 14px;
}

.main-nav {
  display: flex;
  font-size: 1.25rem;
  text-transform: uppercase;
  margin-top: 34px;
  list-style: none;
}

.main-nav li {
  margin-left: 36px;
}

.main-nav a {
  color: #fff
}


/* ----------HOME---------- */
.home-content {
  text-align: center;
  margin-top: 10%;
}

.home-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px 0;
}


/* ----------見出し---------- */
.page-title {
  font-size: 5rem;
  font-weight: normal;
  color: #fff;
}

/* ----------Font Awesome---------- */
.icon {
  font-size: 3rem;
}

.icon-1 {
  color: rgb(224, 11, 210)
}

.icon-2 {
  color: rgb(15, 97, 196);
}



/* ----------ボタン---------- */
.button {
  font-size: 1.375rem;
  background: #0bd;
  color: #fff;
  border-radius: 5px;
  padding: 18px 32px;
}

.button:hover {
  background-color: #0090aa;
}

/* ---------大きな背景画像--------- */
.big-bg {
  background-size: cover;
  background-position: center top;
}

#home {
  background-image: url(saaf_fv_4.jpg);
  min-height: 100vh;
}

/* ---------フッター--------- */
footer {
  background: #000;
  text-align: center;
  padding: 26px 0;
}

footer p {
  color: #fff;
  font-size: 0.875rem;
}


/* ---------MENU--------- */
#menu {
  background-image: url(menu_fv.jpg);
  min-height: 100vh;
}

.menu-wrapper {
  text-align: center;
  margin-top: 10%;
}

.menu-wrapper p {
  font-size: 1.125rem;
  margin: 10px 0 42px 0;
  color: #fff;
}

.menu-content {
  text-align: center;
  margin-top: 10%;
}

.menu-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px 0;
}

.weekly-menu p {
  margin-bottom: 10px;
}


.menu-content h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

.meal-grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.light-meal {
  margin-top: 10%;
}

/* ---------アコーディオン-------- */
.accordion {
  position: relative;
}


.accordion_text {
  cursor: pointer;
  border-bottom:1px solid #ccc;
}

.accordion span {
  position: absolute;
  top: 0;
  right: 10%;
  cursor: pointer;
  font-size: 1.125rem;

}

.detail {
  display: none;
}


/* ---------SHOP--------- */
#shop {
  background-image: url(shop_fv_2.jpg);
  min-height: 100vh;
}

.shop-content {
  text-align: center;
  margin-top: 10%;
}

.shop-content p {
  font-size: 1.125rem;
  margin: 10px 0 42px 0;
  color: #fff;
}

.brands {
  text-align: center;
  margin-top: 6%;
}

.brands h3 {
  font-size: 2.5rem;
  font-weight: normal;
}

.brands p {
  font-size: 1.125rem;
}

.board-content {
  margin-top: 10%;
}

.board-content h3 {
  font-size: 2.5rem;
  font-weight: normal;
  text-align: center;
}

.grid {
  display: grid;
  gap: 26px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

#shop-contact {
  background-image: url(shop_contact.jpg);
  min-height: 100vh;
}


/*---------- 販売状況 ----------*/
.board-status {
  position: relative;
}

.board-status span {
  position: absolute;
  top: 0;
  left: 0;
  color: red;
  border: 1px solid red;
  background-color: #fff;
  opacity: 0.8;
  font-size: 1.5rem;
  padding: 3%;
}



/*---------- shop-contact ----------*/

form {
  padding: 10% 0;
}

form div {
  margin-bottom: 14px;
}

label {
  font-size: 1.125rem;
  margin-bottom: 10px;
  display: block;
}

input[type="text"], input[type="email"], textarea {
  background-color: rgba(255, 255, 255, .5);
  border: 1px #fff solid;
  border-radius: 5px;
  padding: 10px;
  font-size: 1rem;
}

input[type="text"], input[type="email"] {
  width: 100%;
  max-width: 240px;
}

textarea {
  width: 100%;
  max-width: 480px;
  height: 6rem;
}

input[type="submit"] {
  border: none;
  cursor: pointer;
  line-height: 1;
}

/* ---------contact--------- */
#contact {
  background-image: url(contact.jpg);
  min-height: 100vh;
}

.contact-content {
  text-align: center;
  margin-top: 10%;
}


/* ---------店舗情報・地図--------- */
#location {
  padding: 4% 0;
}

#location .wrapper {
  display: flex;
  justify-content: space-between;
}

.location-info {
  width: 30%;
}

.location-info p {
  padding: 12px 10px;
}

.location-map {
  width: 66%;
}


iframe {
  width: 100%;
}

/* --------- Instagram --------- */
#instagram {
  padding: 4% 0;
}

#instagram .wrapper {
  display: flex;
  justify-content: space-between;
}

.instagram-info {
  width: 96%;
}


blockquote {
  width: 100%;
}



/* ---------- モバイル版---------- */
@media (max-width: 900px) {
  
  .page-title {
    font-size: 3.0rem;
  }
}


@media (max-width: 600px) {
  .page-header {
    flex-direction: column;
  }
  
  .page-title {
    font-size: 2.5rem;
  }
  
  .main-nav {
    font-size: 1.0rem;
    margin-top: 10px;
    margin: 0 15%;
  }
  
  .main-nav li {
    margin: 0 20px;
  }


  /* ----------HOME---------- */
  .home-content {
    margin-top: 20%;
  }


  /* ----------MENU---------- */
  .menu-content {
    margin-top: 20%;
  }

  .menu-content p {
    margin: 10px 0 12px 0;
  }


  .light-meal, .sweets, .takeout, .drink {
    margin-top: 25%;
  }



  /* ----------SHOP---------- */
  .shop-content {
    margin-top: 20%;
  }

  .brands {
    margin-top: 20%;
  }

  .board-content {
    margin-top: 20%;
  }


}


@media (max-width: 400px) {
  .page-title {
    font-size: 1.5rem;
  }
  
  .main-nav {
    font-size: .8rem;
    margin-top: 10px;
  }
  
  .main-nav li {
    margin: 0 10px;
  }


  /* ----------HOME---------- */
  .home-content {
    margin-top: 40%;
  }


  /* ----------MENU---------- */
  .menu-content {
    margin-top: 20%;
  }

  .menu-content p {
    margin: 6px 0 12px 0;
  }

  .light-meal, .sweets, .takeout, .drink {
    margin-top: 30%;
  }
  /* ----------SHOP---------- */
  .shop-content {
    margin-top: 20%;
  }


}
